h2{
    text-align: center;
}
div{
    text-align: center;
    color:white;
}
p{
    color:white;
    text-align: center;
}
a{
    font-family:Brush Script MT, Brush Script Std, cursive;
}
body {
    margin: 2em;
  }